.contact__img {
    border-radius: 100%;
    width: var(--contact-img-size, 40px);
    height: var(--contact-img-size, 40px);
    object-fit: cover;
}

.contact {
    display: flex;
    gap: var(--spacing, 16px);
    padding: var(--spacing);
    border-bottom: 1px solid lightgray;
    width: 100%;
}

.contact__text {
    color: var(--contact-text, red);
    margin: 0;
}