header {
  width: 100%;
  background-color: lightpink;
  display: flex;
  gap: 5px;
}

a {
  color: black;
}

html {
  --spacing: 8px;
}

.nav {
  flex-direction: column;
  background: white;
  display: flex;
}

.background-red {
  background-color: red;
}